# ===============================
# IDE / Config
# ===============================
.idea/

# ===============================
# Environments
# ===============================
.venv/
.env

# ===============================
# Python cache
# ===============================
__pycache__/
*.pyc

# ===============================
# Project temp / data
# ===============================
Aide/
tmp/
data/

# ===============================
# Notebooks
# ===============================
.ipynb_checkpoints/

# ===============================
# ML Models / Weights
# ===============================
*.keras
*.bin
*.safetensors

models/**/data/

# ===============================
# OCR training artifacts
# ===============================
ocr/crnn/modele_tcr/
